.panel_nav{
	.panel_holder{
		padding: 15px 20px;
		@include media(max, lg) {
			padding:10px 15px;
		}
	}
}
.nav_list{
	> li{
		margin: 0 8px;
		@include media(max, xl) {
			margin: 0 4px;
		}
	}
	li{
		position: relative;
		font-size: 17px;
		

		&:hover{
			> .drop_down{
				visibility: visible;
				opacity: 1;
			}
		}
	}
}