.panel_nav{
	.panel_holder{
		padding: 15px 20px;
		@include media(max, lg) {
			padding:10px 15px;
		}
	}
	@include media(max, lg) {
		position: relative;
		margin-right: 10px;
		pointer-events: auto;
		.switcher {
			display: none;
		}
		.slider_panel{
			position: absolute;
			top: 100%;
			left: 0;
			// padding-top: 10px;
			visibility: hidden;
			opacity: 0;
			.panel_holder{
				flex-direction: column;
				// padding: 10px 12px;
				padding: 10px 10px;

				ul{
					flex-direction: column; 
					li{
						margin: 4px 0;
						display: block !important;
					}
				}
			}
		}
		&:hover{
			.slider_panel{
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
.nav_list{
	> li{
		margin: 0 8px;
		@include media(max, xl) {
			margin: 0 4px;
		}
	}
	li{
		position: relative;
		font-size: 17px;
		

		&:hover{
			> .drop_down{
				// visibility: visible;
				// opacity: 1;
				display: block;
			}
		}
	}
}
.mob_btn{
	cursor: pointer;
	// padding-bottom: 10px;
	@include media(min, lg) {
		display: none;
	}
}