.panel_chat{
	position: absolute;
	top: 117px;
	left: 5px;
	z-index: 6;
	height: calc(100vh - 117px - 5px);
	transition: height 0.15s ease;
	&.minimized{
		height: 240px;
	}
	.holder_chat{
		height: 100% !important;
		> .panel{
			max-width: 415px;
			flex:0 0 415px;
			>.panel_holder{
				> .panel_content{
					>.content_scroll {
						height: 100%;
						// overflow: hidden;
					}
				}
			}
		}
	}
	.panel_bottom{
		position: relative;
		.writing_to{
			position: absolute;
			margin: 0;
			padding-bottom: 3px;
			top: 0;
			left: calc(var(--size_border_local) * 2.7);
			z-index: 2;
			transform:translateY(-100%);
		}
	}
}
.answer{
	padding-bottom: 10px;
	.answer_info{
		.date{
			display: block;
			text-align: center;
			font-size: 14px;
			line-height: 1;
			padding-top: 10px;
		}
	}
	.answer_text{
		padding-top: 10px;
		padding-left: 8px;
		padding-right: 20px;
		h4{
			margin: 0 0 5px 0;
			font-weight: normal;
		}
		p{
			font-size: 14px;
			margin-bottom: 5px;
		}
	}
	&.inverse{
		.answer_info{
			order:2;
		}
		.answer_text{
			text-align: right;
			padding-left: 0;
			padding-right: 8px;
			padding-left: 20px;
		}
	}
}
.etc_list{
	li{
		background: transparent;
		&:hover{
			background-color: #2f1405;
		}
		&.active{
			box-shadow: inset 0px 0px 12px 4px #FFE600;
			background: transparent;
		}
	}
}
.bottom_switch{
    position: absolute;
    bottom: -10px;
    margin-left: 5px;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%) !important;
    transform-origin: center;
    .minimized &{
    	transform: rotate(-90deg) translateY(-50%) scale(-1,1) !important;
    }
}
.holder_ico{
	position: relative;
	pointer-events: auto;
	.status{
		display: none;
		width: 8px;
		height: 8px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 3;
		border-radius: 50%;
		background: $info;
		z-index: 5;
	}
	&.active,&.online{
		.status{display: block;}
	}
	&.chat_btn{
		position: relative;
		.status{
			top: 0;
			right: 0;
		}
	}
}