.panel_town{
	--h_town: 75px;
	@include media(max, xl) {
		--h_town: 50px;
	}
	--w_panel:435px;
	max-width: var(--w_panel);
	flex:0 0 var(--w_panel);
	@include media(max, xl) {
		--w_panel:330px;
	}
	.dropdown_item{
		padding-bottom: 15px;
		margin: 15px 20px 0 8px;
		@include media(max, xl) {
			margin-left: 15px;
		}
		> .drop_down{
			width: 100%;
			padding: 0;
		}
	}
	.panel_holder{
		padding: 0 30px;
		position: relative;
		max-height: 530px;
		> .drop_down{
			width: 100%;
		}
		&:hover{
			> .drop_down{
				display: block;
			}
		}
		@include media(max, xl) {
			padding: 0 20px;
		}
		@media (max-width: 1600px) {
			max-height: 400px;
		}
	}
	.town_img{
		max-width: var(--h_town);
		flex:0 0 var(--h_town);
		position: relative;
		margin-top: 15px;
		margin-bottom: 15px;
		.circle{
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 2;
			transform:translate(45%,5px)
		}
	}
	.square_img{
		position: relative;
		display: block;
		.square_img_cont{
			position: relative;
			// height: 100%;
			display: block;
			height: var(--h_town);
			overflow: hidden;
			img{
				// @include centered_img(100,100);
			}
		}
	}
	.part_txt{
		padding: 10px 0;
		margin-left: 30px;
		@include media(max, xl)  {
			padding: 10px 0;
			margin-left: 20px;
		}
	}
	h3{
		display: inline-block;
		font-size: 25px;
		line-height: 1;
		font-weight: normal;
		word-wrap:break-word;
		// a{
		// 	color: $light;
		// }
		@include media(max, xl) {
			font-size: 20px;
		}
	}
	p{
		font-size: 21px;
		@include media(max, xl) {
			font-size: 16px;
		}
	}
}
