// panel_holder = 23
// md panel_holder = 17
// sm panel_holder = 12

.panel_holder{
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}
.panel_content{
	flex: 1 1 auto;
	overflow-y: auto;
	position: relative;
	height: 100%;
	padding:var(--size_border_local) 0;
	&.has_shadow{
		&.has_shadow_top{
    		&:before{
    			content: "";
	    		height: 40px;
	    		background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(31, 19, 13) 90%);
	    		// background: green;
	    		position: absolute;
	    		top: var(--size_border_local);
	    		left: var(--size_border_local);
	    		right: var(--size_border_local);
	    		z-index: 4;
	    		pointer-events:none;
	    		transform:scaleY(-1);
	    		opacity: 0.8;
	    		.table &{
	    			top: 0;
	    			left: 0;
	    			right: 0;
	    		}
    		}
    	}
    	&.has_shadow_bottom{
    		&:after{
    			content: "";
	    		height: 40px;
	    		background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(31, 19, 13) 90%);
	    		// background: red;
	    		position: absolute;
	    		bottom: var(--size_border_local);
	    		left: var(--size_border_local);
	    		right: var(--size_border_local);
	    		z-index: 4;
	    		pointer-events:none;
	    		.tabs &{
	    			bottom: 0;
	    		}
	    		.table &{
	    			bottom: 0;
	    			left: 0;
	    			right: 0;
	    		}
    		}
    	}

	}
}
.panel{
	height: 100%;
	background:$primary var(--texture_panel);
	position: relative;
	border-radius: calc(var(--indent) + 2px);

	--size_border_local: calc(var(--size_border) / 2);
	--size_corner_local: calc(var(--size_corner) / 2);
	--width_decor_local: calc(var(--width_decor) / 2);
	--height_decor_local:calc(var(--height_decor) / 2);
	// decor_2
	--corner_img_1_size_local:calc(var(--corner_img_1_size) / 2);
	--corner_img_2_width_local:calc(var(--corner_img_2_width) / 2);
	--corner_img_2_height_local:calc(var(--corner_img_2_height) / 2);

	//left\right cap
	--tab_size_cap_w_local: calc(var(--tab_size_cap_w) / 2);
	--tab_size_cap_h_local: calc(var(--tab_size_cap_h) / 2);
	&.md{
		--size_border_local: calc(var(--size_border) / 2 * 0.75);
		--size_corner_local: calc(var(--size_corner) / 2 * 0.75);
		--width_decor_local: calc(var(--width_decor) / 2 * 0.75);
		--height_decor_local:calc(var(--height_decor) / 2 * 0.75);
		//left\right cap
		--tab_size_cap_w_local: calc(var(--tab_size_cap_w) / 2 * 0.75);
		--tab_size_cap_h_local: calc(var(--tab_size_cap_h) / 2 * 0.75);

		border-radius: calc(var(--indent) + 1px);
		// decor_2
		--corner_img_1_size_local:calc(var(--corner_img_1_size) / 2 * 0.75);
		--corner_img_2_width_local:calc(var(--corner_img_2_width) / 2 * 0.75 );
		--corner_img_2_height_local:calc(var(--corner_img_2_height) / 2 * 0.75);
	}
	&.sm{
		--size_border_local: calc(var(--size_border) / 2 * 0.5);
		--size_corner_local: calc(var(--size_corner) / 2 * 0.5);
		--width_decor_local: calc(var(--width_decor) / 2 * 0.5);
		--height_decor_local:calc(var(--height_decor) / 2 * 0.5);
		//left\right cap
		--tab_size_cap_w_local: calc(var(--tab_size_cap_w) / 2 * 0.5);
		--tab_size_cap_h_local: calc(var(--tab_size_cap_h) / 2 * 0.5);

		border-radius: var(--indent);

		// decor_2
		--corner_img_1_size_local:calc(var(--corner_img_1_size) / 2 * 0.5);
		--corner_img_2_width_local:calc(var(--corner_img_2_width) / 2 * 0.5 );
		--corner_img_2_height_local:calc(var(--corner_img_2_height) / 2 * 0.5);
	}
	&.selected{
		>.panel_holder {
			&:after{
				content: "";
				position: absolute;
				top:var(--size_border_local);
				left: var(--size_border_local);
				width: calc(100% - var(--size_border_local) * 2);
				height: calc(100% - var(--size_border_local) * 2);
				box-shadow: inset 0 0 15px 4px #FFE600;
				box-shadow: inset 0 0 10px 2px #FFE600;
				pointer-events: none;
				border-radius: 7px;
			}
		}
	}
	&.disabled{
		opacity: 0.7;
		filter: saturate(.5);
		a,button{
			pointer-events: none;
		}
	}
	
	&.empty_panel{
		.content_scroll{
			// background: #000;
			height: 100%;
			display: flex;
			align-items:center;
			justify-content: center;
			text-align: center;
		}
	}
	&.card_panel{
		height: auto;
		.card_prev{
			position: relative;
			display: flex;
			align-items:center;
			justify-content:flex-end !important;
			.holder{
				--wdth:calc((100% - 76px) / 2);
				flex:0 0 var(--wdth);
				max-width: var(--wdth);
			}
			.card_inner {
				width: 76px;
				max-width: 76px;
				flex:0 0 76px;
				height: 76px;
				position: relative;
				margin-bottom: 10px;
				.square_img {
					display: block;
					.square_img_cont{
						height: 76px;
					}
				}
			}
		}
	}
	&.bg-transparent{
		background: rgba($primary,.9);
	}
	.bg_image_panel{
		position: absolute;
		top:var(--size_border_local);
		left: var(--size_border_local);
		width: calc(100% - var(--size_border_local) * 2);
		height: calc(100% - var(--size_border_local) * 2);
		background-repeat: no-repeat;
		// background-color: red;
		background-position: 100% 100%;
		pointer-events: none;
	}
	.label_right_bottom{
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.part_top{
		position: relative;
		z-index: 5;
	}
	.panel_holder{
		border-radius: calc(var(--indent) + 2px);
		background: var(--border_img_v), var(--border_img_v_right),	var(--border_img_h), var(--border_img_h_bottom);
		background-position: 0 0, 100% 0, 0 0, 0 100%;
		background-repeat: repeat-y, repeat-y, repeat-x, repeat-x;
		background-size:var(--size_border_local) auto, var(--size_border_local) auto, auto var(--size_border_local), auto var(--size_border_local);
	}
	>.decor{
		.corner{
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			background: var(--corner_img) no-repeat 0 0;
			// background: red;
			background-size: cover;
			width: var(--size_corner_local);
			height: var(--size_corner_local);
			border-radius: calc(var(--indent) + 2px) 0 0 0;
			&.right_top{
				left: auto;
				right: 0;
				transform:scale(-1,1);
			}
			&.right_bottom{
				top: auto;
				bottom: 0;
				left: auto;
				right: 0;
				transform:scale(-1,-1);
			}
			&.left_bottom{
				top: auto;
				bottom: 0;
				transform:scale(1,-1);
			}
		}
	}
	&.decor_2,&.decor_3{
		> .decor{
			.corner{
				width: var(--corner_img_1_size_local);
				height: var(--corner_img_1_size_local);
				background: var(--corner_img_1) no-repeat 0 0;
				background-size: cover;
				transform:scale(1,-1);
				&.right_top{
					transform:scale(-1,-1);
				}
				&.right_bottom,&.left_bottom{
					width: var(--corner_img_2_width_local);
					height: var(--corner_img_2_height_local);
					background: var(--corner_img_2) no-repeat 0 0;
					background-size: cover;
					transform:scale(1,1);
				}
				&.right_bottom{
					transform:scale(-1,1);
				}
			}
		}
	}
	&.decor_3{
		> .decor{
			.corner{
				&.right_bottom,&.left_bottom{
					width: var(--corner_img_1_size_local);
					height: var(--corner_img_1_size_local);
					background: var(--corner_img_1) no-repeat 0 0;
					background-size: cover;
					z-index: 5;
				}
			}
		}
		
	}
	> .decor{
		&:before,&:after{
			content: "";
			width: var(--width_decor_local);
			height: var(--height_decor_local);
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform:translateX(-50%);
			background: url(/images/map/panel/centered_corner.png) no-repeat 0 0;
			background-size: cover;
			z-index: 5;
		}
		&:after{
			top: auto;
			bottom: 0;
			transform:translateX(-50%) scale(-1,-1);
		}
	}
	&.centered_corners_none{
		> .decor{
			&:before,&:after{
				content: none;
			}
		}
	}
	&.horizontal{
		> .decor{
			&:before,&:after{
				background: url(/images/map/panel/centered_corner_vertical.png) no-repeat 0 0;
				background-size: cover;
				width: var(--height_decor_local);
				height: var(--width_decor_local);
				top: 50%;
				left: 2px;
				position: absolute;
				transform:translateY(-50%);
			}
			&:after{
				top: 50%;
				left: auto;
				right: 2px;
				transform:translateY(-50%) scale(-1,-1);
			}
		}
	}
	.scrollbar{
		height: calc(100% - var(--size_border_local) * 2.7 * 2);
		top: calc(var(--size_border_local) * 2.7);
		// top: calc(var(--size_border_local) * 4);
	}
}

.panel_header{
	
	flex: 0 0 auto;
	background: rgba(red,.2);
	padding: calc(var(--size_border_local) * 2.7 - var(--size_border_local));
	position: relative;
	background: var(--border_img_h) repeat-x 0 100%;
	background-size: auto  var(--size_border_local);
	margin-left: var(--size_border_local);
	margin-right: var(--size_border_local);
	// margin: calc(var(--size_border_local) * -2.7) calc(var(--size_border_local) * -2.7) calc(var(--size_border_local) * 2);
	&:before,&:after{
		content: "";
		width: var(--tab_size_cap_w_local);
		height: var(--tab_size_cap_h_local);
		background: var(--tab_img_cap) no-repeat;
		background-size: cover;
		position: absolute;
		bottom: 4px;
		left: 0;
		transform: translateY(50%);
	}
	&:after{
		left: auto;
		right: 0;
		transform: translateY(50%) scaleX(-1);
	}
}
.title_panel{
	position: relative;
	pointer-events:auto;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 100%;
		background: var(--decorate_img) 0 0 no-repeat;
		background-size: cover;
		--width:calc(var(--size_w) / 2);
		--height:calc(var(--size_h) / 2);
		width:var(--width);
		height:var(--height);
		z-index: -1;
		margin-left: -2px;
		transform:scale(1,-1);
	}
}
.part_footer{
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 7;
	pointer-events: none;
	a,button{
		pointer-events: auto;
	}
}
