.person{
	--person_w_local:calc(var(--person_w) / 2);
	--person_h_local:calc(var(--person_h) / 2);
	--bg_local:var(--person_neutral);
	position: relative;
	width: var(--person_w_local);
	height: var(--person_h_local);
	&.silver{
		--bg_local:var(--person_silver);
	}
	&.gold{
		--bg_local:var(--person_gold);
		--gold_h:calc(238px / 2);
	}
	&.bronze{
		--bg_local:var(--person_bronze);
	}
	&.wood{
		--bg_local:var(--person_wood);
	}
	&.prison{
		.img_person{
			&:after{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: var(--prison) no-repeat;
				background-size: cover;
				z-index: 2;
				pointer-events: none;
			}
		}
	}
	&.big{
		--person_w_local:calc(var(--person_big_w) / 2);
		--person_h_local:calc(var(--person_big_h) / 2);
	}
	.img_person{
		width: 100%;
		height: 100%;
		// overflow: hidden;
		.holder{
			position: relative;
			padding: 10px;
			display: block;
			width: 100%;
			height: 100%;
			background: $primary;
			border: 0;
			> img{
				position: absolute;
				bottom: 5px;
				left: 50%;
				transform:translateX(-50%);
				width:  calc(100% - 10px);
				height: calc(100% - 10px);
				object-fit:cover;
			}
		}
		
		&:before{
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			background: var(--bg_local) no-repeat;
			background-size: cover;
			pointer-events: none;
		}
	}
	.info_ico{
		position: absolute;
		top: -10px;
		bottom: -10px;
		justify-content:space-between;
		right: 0;
		transform:translateX(50%);
		z-index: 3;
		// margin-top: -5px;
		.circle{
			margin-top: 3px;
			margin-bottom: 3px;
		}
	}
}