.table{
	width: 100%;
	.panel_holder {
		background: none;
		.panel_content{
			padding: 0;
			.scrollbar{
				// right: 0;
				top: 0;
				height:calc( 100% - var(--size_border_local));
			}
		}
	}
	.panel_holder{
		background: none;
		.panel_content{
			padding: 0;
		}
	}
	.tr{
		display: table-row;
		@include media(max, xl) {
			font-size: 14px;
		}
	}
	.th,.td{
		display: table-cell;
		text-align: center;
		padding: 7px 11px;
		overflow: hidden;
		hyphens: auto;
		.circle,.square {
			display: inline-block;
		}
		&:first-child{
			padding-left: 20px;
		}
		a{
			// color: $light;
			// &:hover{
			// 	color: #fff;
			// }
		}
		&:first-of-type{
			text-align: left;
		}
	}
	.table_header,.table_body{
		display: table;
		width: 100%;
		&.align-middle{
			.th,.td{
				vertical-align: middle;
			}
		}
	}
	.table_body{
		.tr{
			transition: var(--animation_static);
			&.selected{
				box-shadow: inset 0 0 10px 2px #FFE600;
				&:hover{
					background: none;
				}
			}
			&:hover{
				transition: var(--animation_hovered);
				background: #2F1405;
			}
		}
	}
}