.table{
	width: 100%;
	.panel_holder {
		background: none;
		// margin: 0 calc(var(--size_border_local) * -2.7);
		// padding: 0 calc(var(--size_border_local) * 2.7);
		&.scroll_js{
			margin-right: calc(var(--size_border_local) * -1);
		}
		.panel_content{
			padding: 0;
			.scrollbar{
				right: 0;
				top: 0;
				height: 100%;
			}
		}
	}
	.panel_holder{
		background: none;
		.panel_content{
			padding: 0;
		}
	}
	.tr{
		display: table-row;
	}
	.th,.td{
		display: table-cell;
		text-align: center;
		padding: 7px 11px;
		overflow: hidden;
		&:first-of-type{
			text-align: left;
		}
	}
	.table_header,.table_body{
		display: table;
		width: 100%;
	}
	.table_body{
		.tr{
			.td{

			}
			&:hover{
				background: $primary;
			}
		}
	}
}