.tabs{
	.hidden_part{
		display: none;
	}
	&.tabs_responsive{
		> .tab_nav {
			// padding-bottom:50px;
			> ul{
				display: none !important;
			}
		}
		.hidden_part{
			display: flex;
			align-items:center;
			padding: 0 calc(var(--size_border_local) * 2.7 - var(--size_border_local)) var(--tab_size_boder_local);
			// height: calc(var(--size_border_local) * 10);
			background: var(--border_img_h_bottom) repeat-x;
			background-size: auto var(--size_border_local);
			background-position: 0 100%;
			padding-bottom: calc(var(--size_border_local) * 2);
			margin-bottom: var(--tab_size_boder_local);
			height: 60px;
		}
		.tab_nav::after, .tab_nav::before{
			bottom: calc(var(--tab_size_boder_local) * -1 + var(--size_border_local));
		}
		&.tab_nav_big{
			.hidden_part{
				height: 80px;
			}
		}
	}
	&.tab_nav_big{
		.tab_nav{
			> ul{
				> li{
					max-width: 80px;
					flex:0 0 80px;
				}
			}
			.link_holder{
				height: 80px;
			}
		}
	}
	.inner_height {
		background: none;
		// &.scroll_js{
		// 	margin-right: calc(var(--size_border_local) * -1);
		// }
		.panel_content{
			padding: 0;
			.scrollbar{
				// right: 0;
				top: 0;
				height: calc(100% - var(--size_border_local) * 1.5);
			}
		}
	}
}
.tab_nav{
	// active corners
	--tab_size_active_local: calc(var(--tab_size_active) / 2);

	// border at tab_nav left/right
	--tab_size_boder_local: calc(var(--tab_size_boder) / 2);

	// top tab decor
	--width_local:calc(var(--size_w) / 2.8);
	--height_local:calc(var(--size_h) / 2.8);
	.md &{
		--tab_size_active_local: calc(var(--tab_size_active) / 2 * 0.75);
		--tab_size_boder_local: calc(var(--tab_size_boder) / 2 * 0.75);
		--width_local:calc(var(--size_w) / 2.8 * 0.75);
		--height_local:calc(var(--size_h) / 2.8 * 0.75);
	}
	.sm &{
		--tab_size_active_local: calc(var(--tab_size_active) / 2 * 0.5);
		--tab_size_boder_local: calc(var(--tab_size_boder) / 2 * 0.5);
		--width_local:calc(var(--size_w) / 2.8 * 0.5);
		--height_local:calc(var(--size_h) / 2.8 * 0.5);
	}
	position: relative;
	// overflow: hidden;
	margin-top: calc(var(--size_border_local) * 2.7);

	margin-left: var(--size_border_local);
	margin-right: var(--size_border_local);

	

	// margin-left: var(--indent);
	// margin-right: var(--indent);
	&:after,&:before{
		content: "";
		background: var(--tab_img_boder) no-repeat 0 0;
		background-size: var(--tab_size_boder_local) var(--tab_size_boder_local);
		width: var(--tab_size_boder_local);
		height: var(--tab_size_boder_local);
		position: absolute;
		// left:calc(var(--indent) * -1);
		left: calc(var(--size_border_local) * -1);
		bottom: calc(var(--size_border_local) + 1px);
		// top: calc(100% - var(--size_border_local) - 1px);
		transform:scale(1,-1);
		z-index: 2;
	}
	&:before{
		left: auto;
		// right: calc(var(--indent) * -1);
		right: calc(var(--size_border_local) * -1);
		transform:scale(-1,-1);
	}
	> ul{
		overflow: hidden;
		padding: 0 calc(var(--size_border_local) * 2.7 - var(--size_border_local)) var(--tab_size_boder_local);
		> li{
			max-width: 65px;
			flex:0 0 65px;
			text-align: center;
			margin-right: 12px;
			opacity: 0.5;
			&.active{
				position: relative;
				opacity: 1;
				&:before,&:after{
					content: "";
					width: var(--tab_size_active_local);
					height: var(--tab_size_active_local);
					background-image: var(--tab_img_active);
					background-size: var(--tab_size_active_local) var(--tab_size_active_local);
					position: absolute;
					bottom: 0;
					right: calc(100% - var(--size_border_local));
					z-index: 3;
					transform:scale(1,-1);

				}
				&:after{
					right: auto;
					left:calc(100% - var(--size_border_local));
					transform:scale(-1,-1);
				}
				a{
					position: relative;
					pointer-events: none;
					border-radius:0 0 20px 20px;
					&:before,&:after{
						content: "";
						width: 99999px;
						height: var(--size_border_local);
						background: var(--border_img_h_bottom);
						background-position: 0 100%;
						background-repeat: repeat-x;
						background-size: auto var(--size_border_local);
						position: absolute;
						bottom: 0;
						right: 100%;
						z-index: 1;
					}
					&:after{
						right: auto;
						left: 100%;
					}
				}
			}
			a{
				
				display: block;
				user-select: none;
				background: var(--border_img_v), var(--border_img_v_right),	var(--border_img_h);
				background-position: 0 0, 100% 0, 0 0;
				background-repeat: repeat-y, repeat-y, repeat-x;
				background-size:var(--size_border_local) auto, var(--size_border_local) auto, auto var(--size_border_local);
				.link_holder{
					display: flex;
					align-items:center;
					justify-content: center;
					height: 60px;
					position: relative;
					padding: var(--size_border_local);
					&:after,&:before{
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						background: var(--decorate_img) 0 0 no-repeat;
						background-size: cover;
						
						width:var(--width_local);
						height:var(--height_local);

					}
					&:before{
						left: auto;
						right: 0;
						transform:scale(-1,1);
					}
					img{
						object-fit:cover;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

}
.tab_pane{
	display: none;
	&.active{
		display: block;
	}
}
.tab_content{
	// padding: 0 calc(var(--size_border_local) * 2.7);
	&.scroll_js{
		position: relative;
		overflow: hidden;
		// height: 100%;

		display: grid;
		grid-template-rows:min-content 1fr;
		.scrollbar{
			display: flex;
		}
		.content_scroll{
			overflow-y: auto;
			height: 100%;
			padding-right: 30px;
			scrollbar-width: none;

			grid-row:span 2;
		}
	}
}