.tooltip {
    display: block;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    max-width: 320px;
    transition: opacity 0.3s;
    visibility: hidden;
    opacity: 0;
	.container {
		padding: 1em;
	    transform-origin: top left;
	    width: auto;
	    overflow: hidden;
	    position: relative;
	}
}
