.grid_list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    .slot {
        .figure_holder {
            // width: 100%;
        }
    }
}
.etc_info {
    pointer-events: auto;
    text-align: right;
}
.army_template {
    .col_army {
        .army_block {
            .panel_holder {
                height: calc(100vh - 160px);
                @include media(max, xl) {
                	height: calc(100vh - 132px);
                }
            }
        }
    }
    .col_left {
    	.panel{
    		> .panel_holder{
    			height: calc(100vh - 121px);
	            @include media(max, xl) {
	            	height: calc(100vh - 93px);
	            }
    		}
    	}
        .item_list{
        	display: flex;
        	flex-wrap:wrap;
        	justify-content:center;
        	.item{
        		padding: 0 5px 10px;
        		max-width: 50%;
        		flex:0 0 50%;
        		&:nth-child(3n){
        			max-width: 100%;
        			flex:0 0 100%;
        		}
        	}
        }
    }
    .col_right {
    	.panel_holder {
            height: calc(100vh - 79px);
            @include media(max, xl) {
            	height: calc(100vh - 71px);
            	@include media(max, lg) {
	            	height: calc(100vh - 67px);
	            }
            }
        }
    }
}