.footer_area{
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	z-index: 1;
	// background: #000;
	pointer-events: none;
	.panel{
		pointer-events:auto;
	}
	.test_1{
		max-width: 250px;
		flex:0 0 250px;
		height: 250px;
		background: #ccc;
		pointer-events:auto;
	}
	.params{
		.circle{
			margin-bottom: 8px;
		}
	}
	.area_army{
		position: relative;
		// max-width: 100%;
	}
	.title_panel{
		position: absolute;
		bottom: 100%;
		left: 0;
		z-index: 1;
		margin-bottom: -3px;
	}
}
.holder_slider{
	overflow: hidden;
	overflow-x: auto;
}
.actions_panel{
	pointer-events:auto;
	--h:322px;
	--w:427px;
	--height:calc(var(--h) / 2);
	--width:calc(var(--w) / 2);
	background-color: $primary;
	background-position: 100% 100% !important;
	background-repeat: no-repeat !important;
	border-radius: calc(var(--indent) + 2px);
	.actions_panel_holder{
		width:var(--width);
		height:var(--height);
		background: url(../images/square/actions-panel.png) no-repeat 0 0;
		background-size: cover;
	}
	.actions_grid{
		padding:2px 9px 0;
		margin: 0 -5px;
	}
	.actions_col{
		max-width: 25%;
		flex:0 0 25%;
		padding:5px 5px;
		.actions_item{
			position: relative;
			display: block;
			height: 42px;
			// background: rgba(red,.3);
			img{
				@include centered_img(100,100);
			}
		}
	}
}