.footer_area{
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	z-index: 1;
	// background: #000;
	pointer-events: none;
	.panel{
		pointer-events:auto;
	}
	.test_1{
		max-width: 250px;
		flex:0 0 250px;
		height: 250px;
		background: #ccc;
		pointer-events:auto;
	}
	.params{
		.circle{
			margin-bottom: 8px;
		}
	}
	.area_army{
		position: relative;
		// max-width: 100%;
	}
	.title_panel{
		position: absolute;
		bottom: 100%;
		left: 0;
		z-index: 1;
		margin-bottom: -3px;
	}
}
.holder_slider{
	overflow: hidden;
	overflow-x: auto;
}

.slider_panel {
	position: relative;
	// max-width: 10% !important;
}