.header_area{
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	z-index: 11;
	pointer-events: none;
	.panel{
		pointer-events:auto;
	}
}
.panel_nav{
	position: relative;
	.switcher_slider{
		transform:translateX(-50%);
	}
	// anim
	&.closed{ 
		.nav_list{
			> li:not(:first-of-type){
				display: none;
			}
		}
	}
}
.panel_progress{
	position: relative;
	&.closed{
		.txt_inf{
			display: none !important;
		}
	}
}
