.market_area{
	position: absolute;
	left: 0;
	bottom: 5px;
	min-width: 1024px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	z-index: 1;
	pointer-events: none;
	.panel{
		pointer-events: auto;
	}
	.inner_height{
		// height: calc(100vh - 254px);
	}
	.col_right {
		.inner_height{
			height: calc(100vh - 215px) !important;
		}
	}
	.col_left {
		.inner_height{
			height: calc(100vh - 255px) !important;
		}
	}
	.grid_list{
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	}
}