.panel{
	background-color: $primary;
	background-position: 100% 100% !important;
	background-repeat: no-repeat !important;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	height: 100%;
	--size_border_local: calc(var(--size_border) / 2);
	--size_corner_local: calc(var(--size_corner) / 2);
	--width_decor_local: calc(var(--width_decor) / 2);
	--height_decor_local:calc(var(--height_decor) / 2);
	&.md{
		--size_border_local: calc(var(--size_border) / 2 * 0.75);
		--size_corner_local: calc(var(--size_corner) / 2 * 0.75);
		--width_decor_local: calc(var(--width_decor) / 2 * 0.75);
		--height_decor_local:calc(var(--height_decor) / 2 * 0.75);
	}
	&.sm{
		--size_border_local: calc(var(--size_border) / 2 * 0.5);
		--size_corner_local: calc(var(--size_corner) / 2 * 0.5);
		--width_decor_local: calc(var(--width_decor) / 2 * 0.5);
		--height_decor_local:calc(var(--height_decor) / 2 * 0.5);
	}
	.panel_holder{
		background-image: 
			var(--border_img_v),
			var(--border_img_v),
			var(--border_img_h),
			var(--border_img_h);
		background-repeat: 
			repeat-y,
			repeat-y,
			repeat-x,
			repeat-x;
		background-position: 
			0 0,
			100% 0,
			0 0,
			0 100%;
		background-size:
			var(--size_border_local) auto,
			var(--size_border_local) auto,
			auto var(--size_border_local),
			auto var(--size_border_local);

		padding: calc(var(--size_border_local) * 2.7);
	}
	.corner{
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		background: var(--corner_img) no-repeat 0 0;
		background-size: cover;
		width: var(--size_corner_local);
		height: var(--size_corner_local);
		&.right_top{
			left: auto;
			right: 0;
			transform:scale(-1,1);
		}
		&.right_bottom{
			top: auto;
			bottom: 0;
			left: auto;
			right: 0;
			transform:scale(-1,-1);
		}
		&.left_bottom{
			top: auto;
			bottom: 0;
			transform:scale(1,-1);
		}
	}
	.decor{
		&:before,&:after{
			content: "";
			width: var(--width_decor_local);
			height: var(--height_decor_local);
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform:translateX(-50%);
			background: url(../images/panel/centered_corner.png) no-repeat 0 0;
			background-size: cover;
		}
		&:after{
			top: auto;
			bottom: 0;
			transform:translateX(-50%) scale(-1,-1);
		}
	}
	&.horizontal{
		.decor{
			&:before,&:after{
				background: url(../images/panel/centered_corner_vertical.png) no-repeat 0 0;
				background-size: cover;
				width: var(--height_decor_local);
				height: var(--width_decor_local);
				top: 50%;
				left: 2px;
				position: absolute;
				transform:translateY(-50%);
			}
			&:after{
				top: 50%;
				left: auto;
				right: 2px;
				transform:translateY(-50%) scale(-1,-1);
			}
		}
	}
	
}
.panel_holder{
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}
.panel_header{
	flex: 0 0 auto;
	background: rgba(red,.2);
	padding: calc(var(--size_border_local) * 2.7);
	position: relative;
	margin: calc(var(--size_border_local) * -2.7) calc(var(--size_border_local) * -2.7) 0;
	background: var(--border_img_h) repeat-x 0 100%;
	background-size: auto  var(--size_border_local);
	margin-bottom: calc(var(--size_border_local) * 2);
}
.panel_content{
	flex: 1 1 auto;
	overflow: auto;
	height: 100%;
	// background: rgba(green,.2);
}