body {
    font: 16px/1.25 "Vollkorn", sans-serif;
    // font: 16px/1.25 Arial !important;
    background-color: $primary;
    background-image: var(--body_texture);
    background-repeat: repeat;
    color: $light;
    min-width: $body_min_width;
    min-height: 100vh;
    position: relative;
}

.field_map {
    width: 100%;
    min-width: $body_min_width;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0 0 7px rgba($primary, 1);
        pointer-events: none;
    }
}

.minw_0 {
    min-width: 0;
}

.position-absolute {
    position: absolute !important;
}

.position-static {
    position: static !important;
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-muted {
    color: $muted;
}

.slider_panel {
    position: relative;
}

.text-danger {
    color: red;
}

.text-truncate {
    @include text-truncate;
}
body{
    user-select: none;
    kbd,code{
        user-select: text;
    }
}
.bg-none{
    background: none !important;
}
.grid_column.h-100{
    height: 100% !important;
}