.technology_area{
	position: absolute;
	left: 0;
	bottom: 5px;
	min-width: 1024px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	z-index: 1;
	pointer-events: none;
	.panel{
		pointer-events: auto;
	}
	.col-225{
		.inner_height{
			height: calc(100vh - 80px);
		}
		&.col_left{
			.inner_height{
				height: calc(100vh - 95px);
			}
		}
	}
	.col_center{
		.inner_height{
			height: calc(100vh - 236px);
		}
	}
}
.teh_list{
	.teh{
		margin-bottom: 12px;
	}
}
.teh_columns{
	justify-content:center;
	// transform: translate3d(-100px, -30px, 50px);
	.teh_title{
		height: 50px;
		display: flex;
		align-items:center;
		justify-content:center;
		text-align: center;
		padding: 5px;
		overflow: hidden;
	}
	.column{
		--p:9px;
		padding: 0 var(--p);
		max-width:calc(146px + var(--p) * 2);
		.item{
			margin-top: 12px;
			height: 225px;
			display: flex;
			align-items:center;
			justify-content:center;
			text-align: center;
		}
	}
}