@mixin hover {
	transition: var(--animation_hovered);
	filter: saturate(2) brightness(1.5);
}

.btn,.close_btn,.switcher{
	transition: var(--animation_static);
	&:hover{
		@include hover;
		// transform: scale3D(1.07, 1.07, 1);
	}
}
a.rectangle,button.rectangle{
	img{
		transition: var(--animation_static);
	}
	&:hover{
		img{
			@include hover;
		}
	}
}
a.circle,button.circle,.btn_func,.handler{
	transition: var(--animation_static);
	&:hover{
		@include hover;
	}
}
a.square,button.square{
	transition: var(--animation_static);
	// img{
	// 	transition: var(--animation_static);
	// }
	&:hover{
		@include hover;
		// img{
		// 	@include hover;
		// }
	}
}
button.actions_item{
	img{
		transition: var(--animation_static);
	}
	&:hover{
		img{
			@include hover;
		}
	}
}
.etc_drop{
	li{
		>a{
			&:hover{
				filter:none;
			}
		}
	}
}
.mini_info{
	.mini_holder{
		input{
			transition: var(--animation_static);
			&:focus{
				transition: var(--animation_hovered);
				filter: saturate(2);
			}
		}
	}
}