.btn{
	transition: var(--animation_static);
	&:hover{
		transition: var(--animation_hovered);
		filter:saturate(var(--unit)) brightness(calc(var(--unit) * 0.75));
	}
}
a.rectangle{
	img{
		transition: var(--animation_static);
	}
	&:hover{
		img{
			transition: var(--animation_hovered);
			filter:saturate(var(--unit)) brightness(calc(var(--unit) * 0.75));
		}
	}
}
a.circle{
	transition: var(--animation_static);
	&:hover{
		transition: var(--animation_hovered);
		filter:saturate(var(--unit)) brightness(calc(var(--unit) * 0.75));
	}
}
a.square{
	img{
		transition: var(--animation_static);
	}
	&:hover{
		img{
			transition: var(--animation_hovered);
			filter:saturate(var(--unit)) brightness(calc(var(--unit) * 0.75));
		}
	}
}