a,.hovered_item{
	// color: $muted;
	color: $light;
	transition: var(--animation_static);
	&:hover{
		color: #fff;
		text-decoration: none;
		// text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25),0 0 1px $muted;
		transition: var(--animation_hovered);
	}
}
.btn-block{
	width: 100%;
	text-align: center;
	span{
		justify-content: center;
	}
}

.btn{
	--px:20px;
	--py:17px;
	--size_corner_local:calc(var(--size_corner) / 2.7);
	--paddings_local:var(--py)  var(--px);
	--font_size_local:16px;
	text-align:center;
	vertical-align:middle;
	user-select:none;
	display: inline-block;
	background: $primary;
	border-radius: calc(var(--indent) + 2px);
	overflow: hidden;
	border: 0;
	color: $light;
	position: relative;
	text-align: center;
	font-size: var(--font_size_local);
	padding: 0;
	&.disabled,&:disabled{
		opacity: 0.5;
		pointer-events: none;
	}
	&.md{
		--size_corner_local:calc(var(--size_corner) / 2.7 * 0.75);

		--font_size_local:14px;

		--paddings_local: calc(var(--py) * 0.75 - 0.5px) calc(var(--px) * 0.75);
		border-radius: calc(var(--indent) + 1px);
	}
	&.sm{
		--size_corner_local:calc(var(--size_corner) / 2.7 * 0.5);

		--font_size_local:calc(16px * 0.65);

		--paddings_local: calc(var(--py) * 0.65) calc(var(--px) * 0.65);
		border-radius: calc(var(--indent));
	}
	> span{
		display: flex;
		align-items:center;
		justify-content: center;
		padding: var(--paddings_local);
		&:before,&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: var(--size_corner_local);
			height: var(--size_corner_local);
			background: var(--corner_img) no-repeat;
			background-size: cover;
			transform:scale(1,-1);
			pointer-events: none;
		}
		&:after{
			left: auto;
			right: 0;
			transform:scale(-1,-1);
		}
	}
	svg{
		max-width: 16px;
		flex: 0 0 16px;
		margin-right: 5px;
	}
	&:before,&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: var(--size_corner_local);
		height: var(--size_corner_local);
		background: var(--corner_img) no-repeat;
		background-size: cover;
		pointer-events: none;
	}
	&:after{
		left: auto;
		right: 0;
		transform:scale(-1,1);
	}
	&:hover{
		// color: $light;
		color: #fff;
		text-decoration: none;

	}
}
.switcher{
	--w:calc(37px / 2);
	--h:calc(49px / 2);
	width: var(--w);
	height: var(--h);
	background: url(/images/map/btns/arrow_short.png) no-repeat 0 0;
	background-size: cover;
	display: inline-block;
	border: 0;
	outline: none;
	padding: 0;
	&.down{
		// transform-origin:left center;
		transform:rotate(-90deg);
		&:hover{
			// transform:rotate(90deg) scale(-1,-1);
		}
		&.opened{
			transform:rotate(90deg) scale(-1,1);
		}
		.closed &{
			transform: rotate(-90deg) scaleX(-1);
		}
	}
	&.left{
		transform:scale(-1,1);
	}
	&.switcher_slider{
		--w:calc(38px / 2);
		--h:calc(70px / 2);
		width: var(--w);
		height: var(--h);
		background: url(/images/map/btns/arrow.png) no-repeat 0 0;
		background-size: cover;
		z-index: 6;
		pointer-events:auto;
		.slide_at_left &{
			transform:translateX(-50%) scale(-1,1);
		}
		.slide_at_left.closed &{
			transform:translateX(-50%) scale(1,1);
		}
		.slide_at_right &{
			transform:translateX(50%) scale(1,1);
		}
		.slide_at_right.closed &{
			transform:translateX(50%) scale(-1,1);
		}
	}
}
.dropdown_item{
	.switcher.switcher_slider.down{
		transform: rotate(-90deg) scaleX(-1);
	}
	&:hover{
		.switcher.switcher_slider.down{
			transform:rotate(-90deg);
			@include hover;
		}
	}
}
.panel_army.slide_at_right {
	.switcher_slider{
		transform:translate(-50%,-50%) scale(1,1);
	}
	&.closed{
		.switcher_slider{
			transform:translate(-50%,-50%) scale(-1,1);
		}
	}
}
.close_btn,.back_btn{
	border: 0;
	padding: 0;
	border-radius: 6px;
	--s:calc(56px / 2);
	width: var(--s);
	height: var(--s);
	background: url(/images/map/btns/close.png) no-repeat 0 0;
	background-size: cover;
	display: block;
	top:3px;
	right: 3px;
	z-index: 6;
}
.back_btn{
	--s:calc(58px / 2);
	background: url(/images/map/btns/back.png) no-repeat 0 0;
	background-size: cover;
}
.mob_btn{
	.panel_holder{
		width: 65px;
		height: 65px;
		align-items:center;
		justify-content:center;
	}
	.decor{
		&:after,&:before{
			content: none;
		}
	}
	.corner{
		background: var(--decorate_img) 0 0 no-repeat;
		background-size: cover;
		--width:calc(var(--size_w) / 2);
		--height:calc(var(--size_h) / 2);
		// border-radius: 0;
	}
}
.btn-link{
	// padding: 0;
	margin: 0;
	border: 0;
	background: none;
	color: $light;
	padding: 5px;
	display: inline-flex;
	align-items:center;
	&:after,&:before{
		content: none;
	}
	&.btn-reset{
		&:not(.disabled){
			color: $danger;
		}
	}
}