.justify-content-center{
	justify-content:center !important;
}
.justify-content-end{
	justify-content:flex-end !important;
}
.justify-content-between{
	justify-content:space-between !important;
}
.align-self-center{
	align-self:center;
}
.d-block{
	display: block !important;
}
.d-flex{
	display: flex !important;
}
.d-grid{
	display: grid !important;
}
.d-inline-flex{
	display: inline-flex !important;
}
.flex-column{
	flex-direction: column !important;
}
.flex-row{
	flex-direction: row !important;
}
.flex-wrap{
	flex-wrap: wrap !important;
}
.align-items-center{
	align-items:center !important;
}
.align-items-end{
	align-items:flex-end !important;
}
.align-self-end{
	align-self: flex-end;
}
.align-items-start{
	align-items:flex-start !important;
}
.d-inline-block{
	display: inline-block !important;
}
.align-self-start{
	align-self:flex-start;
}
.text-center{
	text-align: center !important;
}
.h-100{
	height: 100%;
}
.d-table{
	display: table !important;
}
.col{
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	min-width: 0;
}
.col-auto{
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}
.col-225{
	max-width: 225px;
	flex:0 0 225px;
}
.col-280{
	max-width: 280px;
	flex:0 0 280px
}
.col-300{
	max-width: 300px;
	flex:0 0 300px;
}
.col-320{
	max-width: 320px;
	flex:0 0 320px;
}
.col-380{
	max-width: 380px;
	flex:0 0 380px;
}
.col-480{
	max-width: 480px;
	flex:0 0 480px;
}
.col-590{
	max-width: 590px;
	flex:0 0 590px;
}

.col-4{
	max-width: 33.33%;
	flex:0 0 33.33%;
}
// margin
.mt-auto{
	margin-top: auto !important;
}
.mx-auto{
	margin-left: auto !important;
	margin-right: auto !important;
}
.px-0{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.p-0{
	padding: 0 !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.pl-0{
	padding-left: 0 !important;
}
.ml-auto{
	margin-left: auto !important;
}
.mr-auto{
	margin-right: auto !important;
}
.right-0{
	right: 0 !important;
}
.d-none{
	display: none !important;
}
.position-relative{
	position: relative !important;
}
.pos_centered{
	top: 50% !important;
	left: 50% !important;
	transform:translate(-50%,-50%);
}
.h-auto{
	height: auto !important;
}
.l-0{
	left: 0 !important;
}
.t-0{
	top: 0 !important;
}
.right_top{
	top: 0;
	right: 0;
	position: absolute;
}
.grid_list_custom{
	grid-template-columns: repeat(auto-fill, minmax(var(--element), 1fr));
	.col_item{
		position: relative;
		&.selected{
			&:before{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				box-shadow: inset 0px 0px 12px 4px #FFE600;
				pointer-events: none;
			}
		}
	}
}
.center_left{
	top: 50%;
	left: 0;
	position: absolute !important;
	transform:translate(-50%,-50%);
}
.default_padding{
	padding-left:calc(var(--size_border_local) * 2.7);
	padding-right:calc(var(--size_border_local) * 2.7);
}
.border_padding{
	padding-left:var(--size_border_local) !important;
	padding-right:var(--size_border_local) !important;
}
.without_border_padding{
	padding-left:calc(var(--size_border_local) * 2.7 - var(--size_border_local)) !important;
	padding-right:calc(var(--size_border_local) * 2.7 - var(--size_border_local)) !important;
}