.list-unstyled{
	list-style: none;
	padding: 0;
	margin: 0;
}
.lh_1_25{
	line-height: 1.25;
}
.font-weight-normal{
	font-weight: normal;
}
.font-italic{
	font-style: italic;
}
.text-white{
	color: #fff;
}
.red,.text-danger{
	color: $danger;
}