.list-unstyled{
	list-style: none;
	padding: 0;
	margin: 0;
}
.lh_1_25{
	line-height: 1.25;
}
.lh_1{
	line-height: 1;
}
.font-weight-normal{
	font-weight: normal;
}
.font-weight-bold{
	font-weight: 700;
}
.font-italic{
	font-style: italic;
}
.text-white{
	color: #fff;
}
.text-right{
	text-align: right !important;
}
.red,.text-danger{
	color: $danger;
}
.green,.text-success{
	color: $success !important;
	fill:$success !important;
	path{
		fill:$success !important;
	}
}
.text-light{
	color: $light !important;
}
.svg-success{
	path,rect{
		fill:$success;
	}
}
.svg-danger{
	path,rect{
		fill:$danger;
	}
}
ul,ol{
	&.list_info{
		padding: 10px 0 0 0;
		margin: 0;
		list-style:none;
		li{
			padding-bottom: 4px;
		}
	}
}