
$sizes: ("xs":1, "md":1024, "lg":1300,"xl":1600);

@function getPreviousSize($currentSize) {
  $keys: map-keys($sizes);
  $index: index($keys, $currentSize)-1;
  $value: map-values($sizes);
  @return nth($value, $index);
}

@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @if ($minmax != "only") {
        $resolution_fix: $resolution;
          @if ($minmax == "max") {
            $resolution_fix: $resolution - 0.02
          }
          @media only screen and (#{$minmax}-width: $resolution_fix + px) {
            @content;
          }
      } @else {
        @if (index(map-keys($sizes), $media) > 1) {
          @media only screen and (min-width: getPreviousSize($media)+1) and (max-width: $resolution + px) {
            @content;
          }
        } @else {
          @media only screen and (max-width: $resolution + px) {
            @content;
          }
        }
      }
    }
  }
}

@mixin centered_img($width, $height) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	// object-fit:cover;
	max-width:$width * 1%;
	max-height:$height * 1%;
}
@mixin hover_drop{
  content: "";
  // width: calc(100% - 10px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  // background: rgba(green,.4);
  border-radius: 3px;
  box-shadow:inset 0 0 5px rgba(#955100,1) , 0 0 10px rgba(#955100,0.5);
  z-index: 3;
  opacity: 0;
  transition: all 0.6s ease;
  background: rgba(#955100,.2);
}
// ------------margin------------

// margin-top
@for $i from 0 to 31 {
  $side: $i;
  .mt-#{$side} {
    margin-top:#{$side}px !important;
  }
}
// margin-bottom
@for $i from 0 to 31 {
  $side: $i;
  .mb-#{$side} {
    margin-bottom:#{$side}px !important;
  }
}
// margin-left
@for $i from 0 to 31 {
  $side: $i;
  .ml-#{$side} {
    margin-left:#{$side}px !important;
  }
}
// margin-right
@for $i from 0 to 31 {
  $side: $i;
  .mr-#{$side} {
    margin-right:#{$side}px !important;
  }
}
// margin-x
@for $i from 0 to 31 {
  $side: $i;
  .mx-#{$side} {
    margin-left: #{$side}px !important;
    margin-right: #{$side}px !important;
  }
}
// margin-x NEGATIVE
@for $i from 1 to 31 {
  $side: $i;
  .mx-n#{$side} {
    margin-left:#{-$side}px !important;
    margin-right: #{-$side}px !important;
  }
}
// margin-y
@for $i from 0 to 31 {
  $side: $i;
  .my-#{$side} {
    margin-top: #{$side}px !important;
    margin-bottom: #{$side}px !important;
  }
}
// margin
@for $i from 0 to 31 {
  $side: $i;
  .m-#{$side} {
    margin: #{$side}px !important;
  }
}
// ------------padding------------

// padding-top
@for $i from 1 to 31 {
  $side: $i;
  .pt-#{$side} {
    padding-top:#{$side}px !important;
  }
}
// padding-bottom
@for $i from 1 to 31 {
  $side: $i;
  .pb-#{$side} {
    padding-bottom:#{$side}px !important;
  }
}
// padding-left
@for $i from 1 to 31 {
  $side: $i;
  .pl-#{$side} {
    padding-left:#{$side}px !important;
  }
}
// padding-right
@for $i from 1 to 31 {
  $side: $i;
  .pr-#{$side} {
    padding-right:#{$side}px !important;
  }
}
// padding-x
@for $i from 1 to 31 {
  $side: $i;
  .px-#{$side} {
    padding-right:#{$side}px !important;
    padding-left:#{$side}px !important;
  }
}
// padding-y
@for $i from 1 to 31 {
  $side: $i;
  .py-#{$side} {
    padding-top: #{$side}px !important;
    padding-bottom: #{$side}px !important;
  }
}
// padding
@for $i from 1 to 31 {
  $side: $i;
  .p-#{$side} {
    padding: #{$side}px !important;
  }
}