:root{
	// --size_border:17px;
	--border_img_h: url(../images/panel/h_border.png);
	--border_img_v: url(../images/panel/v_border.png);
	--size_border: 17px;

	--size_corner: 71px;
	--corner_img: url(../images/panel/corner.png);
	
	--width_decor:82px;
	--height_decor:43px;
}
$primary :#180f0a;
$light :#b8afaa;
