:root{
	// border-bg of panel
	--border_img_h: url(../images/panel/h_border.png);
	--border_img_v: url(../images/panel/v_border.png);
	--size_border: 17px;
	// corners
	--size_corner: 68px;
	--corner_img: url(../images/panel/corner.png);
	// centered corners
	--width_decor:82px;
	--height_decor:43px;

	// animation
	--animation_static: all 0.15s ease;
	--animation_hovered:all 0.3s ease;
	--unit:2;
}
$primary :#180f0a;
$light :#b8afaa;
