:root{
	// border-bg of panel
	--border_img_h: url(../images/panel/h_border.png);
	--border_img_h_bottom: url(../images/panel/h_border_bottom.png);
	--border_img_v: url(../images/panel/v_border.png);
	--border_img_v_right: url(../images/panel/v_border_right.png);
	--size_border: 17px;
	// corners
	--size_corner: 68px;
	--corner_img: url(../images/panel/corner.png);

	// decorate corner in title army etc
	--decorate_img: url(../images/panel/decorate.png);
	--size_w:76px;
	--size_h:77px;
	// centered corners
	--width_decor:82px;
	--height_decor:43px;

	// animation
	--animation_static: all 0.15s ease;
	--animation_hovered: all 0.3s ease;
	// indents
	--indent:4px;
	// scroll
	--scroll_bar_img:url(../images/scroll/bar.png);
	--scroll_bar_size:31px;

	--scroll_button_img:url(../images/scroll/button.png);
	--scroll_button_w:34px;
	--scroll_button_h:30px;

	--scroll_handler_img:url(../images/scroll/handler.png);
	--scroll_handler_w:20px;
	--scroll_handler_h:45px;

	// slider
	--slider_bar_img:url(../images/slider/bar.png);
	--slider_bar_size:21px;
	// slider decor
	--slider_button_img:url(../images/slider/decor.png);
	--slider_button_w:39px;
	--slider_button_h:29px;

	--slider_handler_img:url(../images/slider/handler.png);
	--slider_handler_w:43px;
	--slider_handler_h:75px;

	// .square item
	--square_img:url(../images/square/square.png);
	// .circle item
	--circle_img:url(../images/circles/circle.png);
	// .circle and .square size
	--size:110px;
	// .checkbox mark
	--checkbox_mark_img:url(../images/icons/check_mark.png);
	--checkbox_mark_w:34px;
	--checkbox_mark_h:32px;
}
$primary :#180f0a;
$light :#b8afaa;
$muted :#5f5653;
