.toggle {
	display: inline-flex;
	span {
		display: inline-block;
	    padding: 0 10px;
		line-height: 28px;
	}
	label {
	    position: relative;
	    width: 48px;
	    height: 28px;
	    display: inline-block;
	    background-color: black;
	    border-radius: 8px;
	    border: 2px solid #4e382b;
	}
	.switch {
	    position: absolute;
	    width: 20px;
	    height: 20px;
	    background-color: #94613a;
	    border-radius: 5px;
	    margin: 2px;
	    left: 0;
	    transition: left .2s cubic-bezier(.3,2.5,.5,1);
	}
	input {
		visibility: hidden;
	}
	input:checked~.switch {
	    left: calc(100% - 24px);
	    transition: left .2s cubic-bezier(.3,2.5,.5,1);
	}
}
.section_accordion {
	&.closed {
		.accordion_hidden_part {
			position: relative;
			max-height: 200px;
			overflow: hidden;
			-webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
			mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
			-webkit-mask-mode: alpha;
			mask-mode: alpha;
		}
		button.switcher {
			transform: rotate(-90deg) scaleX(-1);
		}

	}
}
.mini_info{
	display: flex;
	align-items:center;
	// max-width: 100%;
	.item_ico{
		z-index: 2;
	}
	label{
		padding-right: 10px;
		padding-right: 20px;
		margin: 0;
		~ .mini_holder{
			// margin-left: 0;
		}
	}
	.mini_holder{
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
		min-width: 0;
		min-width: 50px;
		margin-left: -10px;
		position: relative;
		// z-index: 1;
		input{
			margin: 0;
			padding: 0 15px;
			color: $light;
			outline:none;
			text-align: center;
			width: 100%;
			min-width: 50px;
			// font-size: 16px;
			line-height: 22px;
			border: 2px solid #6a5741;
			background: #180F0A;
			border-radius: 3px;
			box-shadow:inset 0 0 5px rgba(#955100,1);
			&:disabled{
				opacity: 1;
				border-color: transparent;
				border-radius: 0;
				box-shadow: none;
			}
			&:focus{
				// border-color: lighten(#6a5741,10%);

			}
		}
	}
	&.has_error{
		.mini_holder{
			input{
				border-color: red;
			}
		}
	}
}