.scroll_js{
	.content_scroll{
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar{
			width: 0;
			height: 0;
      }
	}
}
.content_scroll{
	padding:0 calc(var(--size_border_local) * 2.7);
}
.grid_column{
	height: auto !important;
	> .panel_holder{
		display: grid;
	  	grid-template-rows: min-content 1fr;
		> .panel_content{
			grid-row: span 2;
			overflow: visible;
			// !!!!
			min-width: 0;
		}
		&.scroll_js{
			.panel_content{
				overflow: hidden;
			}
			.content_scroll{
				overflow-y: auto;
				height: 100%;
				padding-right:calc(var(--size_border_local) * 3.7);
				
			}
		}
	}
}
.table{
	.scroll_js{
		.content_scroll{
			padding-right: 12px !important;
		}
		.scrollbar{
			right: 5px;
		}
	}
}
.scrollbar{
	--size_scroll_bar:calc(var(--scroll_bar_size) / 2);

	--scroll_button_width:calc(var(--scroll_button_w) / 2);
	--scroll_button_height:calc(var(--scroll_button_h) / 2);

	--scroll_handler_width:calc(var(--scroll_handler_w) / 2);
	--scroll_handler_height:calc(var(--scroll_handler_h) / 2);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 12px;
	width: 16px;
	height: 100%;
	display: flex;
	flex-direction: column;
	z-index: 6;
	display: none;
	.scroll_js > .panel_content > &{
		display: flex;
	}
	.btn_func{
		// width: 100%;
		width:var(--scroll_button_width);
		height: var(--scroll_button_height);
		background: green;
		flex:0 0 auto;
		background: var(--scroll_button_img) no-repeat 0 0;
		background-size: cover;
		&.arrow_next{
			transform:scale(-1,-1);
		}
	}
	.bar{
		flex:1 1 auto;
		position: relative;
		background: var(--scroll_bar_img)  repeat-y 0 0;
		background-size: var(--size_scroll_bar) auto;
		.handler{
			background: var(--scroll_handler_img) no-repeat 0 0;
			background-size: cover;
			width: var(--scroll_handler_width);
			height: var(--scroll_handler_height);
			position: absolute;
			left: 50%;
			// left: 1px;
			transform:translate(-50%);
			display: block;
		}
	}
}
