.select{
	position: relative;
	.select_header{
		.panel_holder{
			width: 100%;
			border: 0;
			outline: 0;
			text-align: left;
			color: $light;
			flex-direction: row;
			align-items: center;
			position: relative;
			padding-right: 38px;
			padding-left: 16px;
			span{
				@include  text-truncate;
			}
			.ico{
				margin-right: 12px;
			}
			&:after{
				content: "";
				@include arrow;
				position: absolute;
				top: 50%;
				right: 20px;
				transform:translateY(-50%) rotate(90deg);
				z-index: 1;
				transition: var(--animation_static);
			}
		}
		
	}
	&.select_drop_up{
		.drop_down{
			bottom: 100%;
			top: auto;
		}
	}
	&.select_100p{
		.drop_down{
			width: 100%;
		}
	}
	.drop_down{
		// min-width: 100%;
		width: auto;
		.etc_drop {
			li{
				> a{
					padding: 6px 12px 9px;
					display: flex;
					align-items:center;
					.ico{
						margin-right: 12px;
						max-width: 18px;
						flex:0 0 18px;
						img{
							display: block;
							max-width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}
	&.opened{
		.select_header{
			.panel_holder{
				&:after{
					transform:translateY(-50%) rotate(90deg) scale(-1,-1);
					transition: var(--animation_hovered);
				}
			}
		}
		.drop_down{
			display: block;
		}
	}
}