.diplomacy_area{
	.col_left{
		> .panel{
			height: calc(100vh - 118px) !important;
			// >.panel_holder{
			// 	> .panel_content{
			// 		>.content_scroll {
			// 			height: 100%;
			// 			// overflow: hidden;
			// 		}
			// 	}
			// }
			// .table {
			// 	display: grid;
			// 	grid-template-rows: min-content 1fr;
			// 	height: 100% !important;
			// 	overflow: hidden;
			// 	.inner_height{
			// 		grid-row: span 2;
			// 	}
			// }
		}
	}
	.col_right{
		> .panel{
			height: calc(100vh - 78px) !important;
			// >.panel_holder{
			// 	> .panel_content{
			// 		>.content_scroll {
			// 			height: 100%;
			// 			// overflow: hidden;
			// 		}
			// 	}
			// }
			// .tabs {
			// 	display: grid;
			// 	grid-template-rows: min-content 1fr;
			// 	height: 100% !important;
			// 	overflow: hidden;
			// 	.inner_height{
			// 		grid-row: span 2;
			// 	}
			// }
		}
	}
}
.col_graph{
	overflow: hidden;
	height: 180px;
}
.town_list{
	li{
		.town_img{
			max-width: 76px;
			flex:0 0 76px;
			position: relative;
			.square_img_cont{
				height: 76px;
			}
		}
		.circle{
			z-index: 2;
		}
	}
}